:root {
    /* My Palette */
    --bg-grey: #3a3a3a;
    --card-white: #f5f5f5;
    --text-main: #efefef;
    --accent-red: #a30049;
    --border-grey: #1e1e1e;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-grey);
    color: var(--text-main);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}