:root {
    /* My Palette */
    --bg-grey: #3a3a3a;
    --card-white: #f5f5f5;
    --text-main: #efefef;
    --accent-red: #ec125b;
    --border-grey: #1e1e1e;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-grey);
    color: var(--text-main);
    margin: 0;
}

/* Navbar */
.navbar {
    background: #2a2a2a; /* Slightly darker than bg for contrast */
    padding: 1rem;
    border-bottom: 1px solid var(--border-grey);
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 800; font-size: 1.5rem;
}
.logo span {
    color: var(--accent-red);
}

.nav-links {
    display: flex; gap: 20px;
}
.nav-link { 
    text-decoration: none; 
    color: #aaa; 
    font-size: 0.9rem; 
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--accent-red);
}

.nav-link.active {
    color: var(--accent-red);
    border-bottom: 2px solid var(--accent-red);
}

/* Layout */
.content-area {
    max-width: 1000px; margin: 2rem auto; padding: 0 1rem;
}

.hidden {
    display: none;
}

.balance-card {
    background: #444;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    border: 1px solid var(--border-grey);
}